/* CSS Document */
$primaryColor: #E59425;
$secondaryColor: #E5B625;
$thirdColor: #205F94;
$altColor: #222534;
$fontColor: #eaeaea;

$defaultFont: 'Raleway', sans-serif;;
$normalWeight: 300;
$boldWeight: 500;

$maxWidth: 1200px;
$gutter: 2%;
$gutterdbl: (2 * $gutter);
$guttertrpl: (3 * $gutter);
